version: '3.8'

services:
  web:
    environment:
      - XDEBUG_MODE=develop,debug
      - XDEBUG_CONFIG=client_host=host.docker.internal
    volumes:
      - ./:/var/www/html:cached
    command: >
      sh -c "
        echo 'Starting Apache in development mode...' &&
        apache2-foreground
      "

  mysql:
    environment:
      - MYSQL_GENERAL_LOG=1
      - MYSQL_GENERAL_LOG_FILE=/var/log/mysql/general.log
    command: >
      --default-authentication-plugin=mysql_native_password
      --general-log=1
      --general-log-file=/var/log/mysql/general.log
      --slow-query-log=1
      --slow-query-log-file=/var/log/mysql/slow.log
      --long-query-time=2
      --innodb-buffer-pool-size=256M
      --innodb-log-file-size=64M
      --max-connections=100